<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <form action="/" method="post">
        <div class="form">
            <div class="title">Welcome</div>
            <div class="subtitle">Let's create your account!</div>
            <div class="input-container ic1">
              <input name="userName" id="firstname" class="input" type="text" placeholder=" " required/>
              <div class="cut"></div>
              <label for="firstname" class="placeholder">Username</label>
            </div>
            <div class="input-container ic2">
              <input name="userEmail" id="lastname" class="input" type="email" placeholder=" "  required/>
              <div class="cut"></div>
              <label for="email" class="placeholder">Email</label>
            </div>
            <div class="input-container ic2">
              <input name="userPassword" id="email" class="input" type="password" placeholder=" " required/>
              <div class="cut cut-short"></div>
              <label for="password" class="placeholder">Password</>
            </div>
            <input type="file" name="myImage" accept="image/*">
            <button type="text" class="submit">Sign Up</button>
          </div>
    </form>
</body>
</html>